*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #f9fafa;
}

.navigation__list {
  margin-top: 20rem;
}

.nav-acc {
  color: #555f62;
}

.accordion {
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-top: 3rem;
}
.accordion.active .accordion-p {
  max-height: 1000px;
  opacity: 1;
}
.accordion.active .accordion-title-border {
  border-bottom: none;
}
.accordion.active .acc-toggle .arrow-up {
  display: block;
}
.accordion.active .acc-toggle .arrow-down {
  display: none;
}
.accordion .accordion-title-border {
  border-bottom: 1px solid #bebebe;
  padding-bottom: 1rem;
}
.accordion .accordion-t {
  font-size: 2rem;
  color: #555f62;
  padding: 0 2rem;
  color: #141719;
  font-weight: 500;
}
.accordion .accordion-p {
  padding: 0 2rem;
  font-size: 1.8rem;
  color: #555f62;
  border-bottom: 1px solid #bebebe;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}
.accordion .accordion__nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}
.accordion .accordion__nav-link {
  text-decoration: none;
  list-style-type: none;
  color: #555f62;
}
.accordion .accordion-btns {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
}
.accordion .accordion-arrow {
  color: #555f62;
  font-size: 2rem;
}
.accordion .arrow-up {
  display: none;
}

.nav__footer {
  margin-top: 2rem;
  padding: 2rem;
}
.nav__footer-title {
  color: #141719;
  font-size: 1.8rem;
  margin-top: 2rem;
}
.nav__footer-li {
  color: #555f62;
  list-style: none;
  padding-top: 1rem;
  font-size: 1.4rem;
}
.nav__footer-li:hover {
  cursor: pointer;
}
.nav__footer-icons {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  font-size: 1.8rem;
}
.nav__footer-icon {
  color: #555f62;
}
.nav__footer-icon:hover {
  color: #2435cc;
}
.nav__footer-link {
  padding: 1rem;
  background-color: #f9fafa;
  border-radius: 1rem;
}
.nav__footer-link:hover {
  background-color: #f9fafa;
  color: #2435cc;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  color: #555f62;
  background-color: #f9fafa;
}

.rights {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 1.2rem;
}
.rights-link {
  text-decoration: none;
  color: #555f62;
}

.copyright {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}
.copyright-txt {
  align-self: center;
}

.copyright > svg {
  width: 2rem;
}

@media only screen and (min-width: 48em) {
  .footer__container {
    background-color: #f9fafa;
    flex-direction: row;
    justify-content: space-between;
  }
}
.wrapper {
  width: 100%;
  position: fixed;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8rem;
  background-color: #fff;
  border-bottom: 1px solid #eef1f1;
}
.header-container {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
}
.header__search {
  font-size: 2rem;
  color: #555f62;
}
.header__element {
  font-size: 1.6rem;
  font-weight: bold;
}
.header__element-link {
  text-decoration: none;
  color: #2435cc;
}
.header__element-link:hover {
  text-decoration: none;
  color: #4aa1d2;
  transition: color 0.25s ease-in-out;
}

.lang-btn {
  display: none;
  border: none;
  background-color: #fff;
  color: #555f62;
  font-size: 1.8rem;
  font-size: bold;
}

.lang-content {
  display: none;
}

.header__logo {
  color: #555f62;
}
.header__logo-concept {
  display: none;
  color: #555f62;
}

@media only screen and (min-width: 61.9375em) {
  .lang-btn {
    display: block;
  }
  .lang-content {
    display: block;
    width: 100rem;
    margin: 0 auto;
    display: flex;
    justify-content: end;
  }
  .lang-content__btn {
    font-size: 1.8rem;
    font-size: bold;
    border: 1px solid #eef1f1;
    padding: 1rem 2rem;
    background-color: #fff;
    color: #555f62;
  }
}
@media only screen and (min-width: 48em) {
  .header__logo {
    display: none;
  }
  .header__logo-concept {
    display: block;
  }
}
@media only screen and (min-width: 75em) {
  .header {
    width: 100rem;
    margin: 0 auto;
    justify-content: space-between;
  }
}
.navigation__checkbox {
  display: none;
}
.navigation__button {
  backdrop-filter: blur(20px);
  height: 1.5rem;
  width: 2.3rem;
  position: relative;
  top: 0.2rem;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
}
.navigation__background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 3rem;
  right: 3rem;
  z-index: 1000;
  transition: transform 0.8s;
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 3rem;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: height 0.8s cubic-bezier(0.86, 0, 0.07, 1), opacity 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  overflow: hidden;
}
.navigation__nav.active {
  height: 100vh;
  opacity: 1;
}
.navigation__list {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  width: 100%;
  background-color: #fff;
}
.navigation__item {
  opacity: 0;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 2rem;
  text-decoration: none;
  width: 100%;
}
.navigation__logo {
  width: 30%;
  height: auto;
  position: absolute;
  z-index: 99999;
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__icon {
  background-color: black;
  position: relative;
  margin-top: 0.5rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 2.5rem;
  height: 0.1rem;
  background-color: black;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.5rem;
  width: 2.2rem;
}
.navigation__icon::after {
  top: 0.5rem;
  width: 2.2rem;
}
.navigation__icon > span {
  width: 2rem;
  height: 0.1rem;
  background-color: black;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(-20deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(20deg);
}

.hidden {
  display: none;
}

.navigation__checkbox:not(:checked) ~ .navigation__nav .navigation__item {
  opacity: 0;
}

.navigation.hidden {
  display: block;
}

.navigation__checkbox:checked ~ .navigation__nav .navigation__item:nth-child(1) {
  opacity: 1;
}
.navigation__checkbox:checked ~ .navigation__nav .navigation__item:nth-child(2) {
  opacity: 1;
}
.navigation__checkbox:checked ~ .navigation__nav .navigation__item:nth-child(3) {
  opacity: 1;
}
.navigation__checkbox:checked ~ .navigation__nav .navigation__item:nth-child(4) {
  opacity: 1;
}
.navigation__checkbox:checked ~ .navigation__nav .navigation__item:nth-child(5) {
  opacity: 1;
}
.navigation__checkbox:checked ~ .navigation__nav .navigation__item:nth-child(6) {
  opacity: 1;
}

.main__navigation {
  display: none;
  font-size: 1.6rem;
}
.main__navigation-list {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}
.main__navigation-link {
  text-decoration: none;
  color: #555f62;
  font-size: 1.6rem;
  display: block;
  position: relative;
  padding: 1.9em 0;
  list-style-type: none;
}
.main__navigation-links {
  font-size: 1.4rem;
  font-weight: 500;
  color: #141719;
  list-style-type: none;
  text-decoration: none;
}
.main__navigation-ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 2rem;
  width: 3rem;
}

.main__navigation-content {
  margin: 0 auto;
  width: 100rem;
  padding: 2rem;
}

.offers {
  margin-left: 12rem;
}

.concept-space {
  margin-left: 26rem;
}

.digital-link {
  font-size: 1.4rem;
  color: blue;
  text-decoration: none;
  font-weight: 600;
}

.hover:hover {
  color: #2435cc;
}

.main__navigation-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #2435cc;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.main__navigation-link:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.main__navigation-link::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.main__navigation-link:focus::after {
  transform: scale(1);
}

@media only screen and (min-width: 61.9375em) {
  .navigation.hidden {
    display: none;
  }
  .main__navigation {
    display: block;
  }
}
.main-wrapper {
  width: 100%;
  padding-left: 2rem;
}

.main {
  color: #141719;
  font-size: 1.2rem;
  padding-top: 10rem;
}

.hero {
  position: relative;
  width: 100%;
  height: 50vh;
  margin-top: 5rem;
  overflow: hidden;
  background: url("https://www.retail-focus.co.uk/wp-content/uploads/2021/03/%E1%83%91%E1%83%98%E1%83%91%E1%83%9A%E1%83%98%E1%83%9D%E1%83%97%E1%83%94%E1%83%99%E1%83%90-Guram-Kapanadze-3-1024x683.jpg") no-repeat center bottom;
}
.hero__content {
  margin-top: 20rem;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.hero > * {
  position: relative;
  z-index: 2;
  color: #fff;
}

@media only screen and (min-width: 30em) {
  .main-wrapper {
    padding-left: 4rem;
  }
  .main-icon {
    display: none;
  }
}
@media only screen and (min-width: 37.5em) {
  .main-wrapper {
    padding-left: 8rem;
  }
}
@media only screen and (min-width: 48em) {
  .main-wrapper {
    padding-left: 9rem;
  }
}
@media only screen and (min-width: 61.9375em) {
  .main-wrapper {
    padding-left: 4rem;
  }
}
@media only screen and (min-width: 75em) {
  .main-wrapper {
    width: 100rem;
    margin: 0 auto;
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
