.wrapper {
  width: 100%;
  position: fixed;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8rem;
  background-color: $white;
  border-bottom: 1px solid #eef1f1;
  &-container {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
  }
  &__search {
    font-size: 2rem;
    color: $gray;
  }
  &__element {
    font-size: 1.6rem;
    font-weight: bold;
    &-link {
      text-decoration: none;
      color: $blue;
    }
    &-link:hover {
      text-decoration: none;
      color: $lightBlue;
      transition: color 0.25s ease-in-out;
    }
  }
}

.lang-btn {
  display: none;
  border: none;
  background-color: $white;
  color: $gray;
  font-size: 1.8rem;
  font-size: bold;
}
.lang-content{
  display: none;
}

.header__logo {
  color: $gray;
  &-concept {
    display: none;
    color: $gray;
  }
}

// 991px

@media only screen and (min-width: 61.9375em) {
  .lang-btn {
    display: block;
  }
  .lang-content {
    display: block;
    width: 100rem;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    &__btn{
      font-size: 1.8rem;
      font-size: bold;
      border: 1px solid #eef1f1;
      padding: 1rem 2rem;
      background-color: $white;
      color: $gray;
    }
  }
}

// 768
@media only screen and (min-width: 48em) {
  .header__logo {
    display: none;
    &-concept {
      display: block;
    }
  }
}

// 1200
@media only screen and (min-width: 75em) {
  .header {
    width: 100rem;
    margin: 0 auto;
    justify-content: space-between;
  }
}
